<h1><%= @vendor.name %></h1>

<p>Contact Info:</p>
<p>Name: <%= @vendor.contact_name %></p>
<p>Phone: <%= @vendor.contact_phone %></p>
<br>

<p>Credit Accepted?: <%= @vendor.credit_accepted ? "YES" : "NO" %></p>
<br>

<p>Description: <%= @vendor.description %></p>